<link rel='stylesheet' type='text/css' href='css/style.css' />

<h2>Hello, {{child}}</h2>

<h4>Create a reward</h4>
<form action='/createReward' method='post'>
    Reward Name:<br>
    <input type="text" name="rewardName"><br>
    <input type="submit" value="Create Reward">
</form>
