<link rel='stylesheet' type='text/css' href='css/style.css' />

<h3>{{msg}}</h3>

<form action='/registerParent' method='post'>
	Username:<br>
	<input type="text" name="username" required><br>
	Password:<br>
	<input type="password" name="password1" required><br>
	Confirm Password:<br>
	<input type="password" name="password2" required><br>
	Email:<br>
	<input type="text" name="email"><br>

	<input type="submit" value="Create Account">
</form>
