<link rel='stylesheet' type='text/cess' href='css/style.css' />

<form action='/registerChild' method='post'>
	Username: <input type="text" name="username">
	Password: <input type="password" name="password1">
	Confirm Password: <input type="password" name="password2">
	Family Account Key: <input type="number" name="key">

	<input type="submit" value="Create Account">
</form>
