<link rel='stylesheet' type='text/css' href='css/style.css' />

<h1> FAMILY ACCOUNT KEY: </h1>
<h2> {{key}} <h2>

<form action="/parentHome" method='get'>
	<input type="submit" value="Go to Home">
</form>
